/* Sidebar */
.side-bar {
  position: absolute;
  width: 158px;
  height: 438px;
}
.side-bar-nav {
  position: absolute;
  width: 158px;
  height: 438px;
}
.nav-container {
  list-style: none;
  padding: 0;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #424242;
  letter-spacing: 0;
  line-height: 24px;
}
.nav-container > .item {
  padding: 5px 10px;
}
.nav-container > .item > a, p {
  font-size: 16px;
  font-weight: 600;
  color: #757575;
  letter-spacing: 0;
  line-height: 22px;
  text-decoration: none;
}
.nav-container > .item > a{
    cursor: pointer;
}
